.App {
  background-color: aqua;
  width: 100vw;
  height: 100%;
  margin: 0%;
  padding: 0%;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}

h1 {
  margin: 0%;
}
